@media screen and (max-width: 767px) {
  header {
    padding-left: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  div#in {
    display: flex;
    gap:  15px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family:  Poppins2;
  
}
  h2{
    margin-top: 10%;
  }
  
  div#efeito{
    display: flex;
    flex-direction: column;
    color: #7777772d; 
    font-size: 55px; 
    text-align: center;
    margin:0%;
    padding: 0%;
  }

  div#efeito2{
    text-align: center;
    font-size: 55px;
    color: #7777772d; 
    margin: 10%;
    padding: 0%;
    margin-top: 40%;
    padding-left: 10px;
  }

  section {
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* transform removido */
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0; /* zera o espaçamento externo */
    padding: 0; /* zera o espaçamento interno, se quiser */
    justify-items: center;
    width: 100%;
    height: auto; /* opcional, mas pode ajudar na responsividade */

  }


  div.img {
    width: 65%;
    height: auto;
    transform: none;
    justify-content: center;
    transform: translate(50%, -115%);
 

  }

  img {
    width: 70%;
    height: auto;
    margin-left: 5%;
  }

  h1, Pa{
    margin-top: 10%;
    margin-left: 1%;
  }

  section > p{
    font-size: 11px;
    width: 48%;
    text-align: left;
    align-items: center;
    font-family: Poppins2;
    color: #777777;
    padding-right: 10%;
}

section > pa{
    font-size: 18px;
    font-family: Poppins2;
    color: #777777;
    font-weight: bolder
}

  .content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
 
  }

  p {
    width: 90%;
    font-size: 14px;
    text-align: center;
    padding-left: 23px;

  }

  p > button {
    width: 40%;
    padding: 8px 20px;
  
  }

  article#b{
    padding-top: 0%;
    padding-bottom: 10%;
    margin-top: 40%;

  }

  .container {
    padding-top: 0%;
    grid-template-columns: 1fr;
    height: auto;
    gap: 10px;


  }

  .item {
    width: 90%;
    height: auto;
    margin-bottom: 20%;
    border-radius: 30px;

  } 
  .item > img {
    width: 60%;
    height: auto;

  }
  .d-wrapper {
    flex-direction: column;
    gap: 20px;
    padding-left: 15%;
  }

  .c {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-info p {
    margin-left: 0;
  }
}
